<link rel="stylesheet" href="{{ url_for('static',filename='chat/chat.css') }}" />
<script src="{{ url_for('static',filename='jquery/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='chat/chat.js') }}"></script>

<div class="chat_wrap">
    <div class="header">
        CHAT
    </div>
    <div class="chat">
        <ul>
            <!-- 동적 생성 -->
        </ul>
    </div>
    <div class="input-div">
        <textarea placeholder="Press Enter for send message."></textarea>
    </div>
 
    <!-- format -->
 
    <div class="chat format">
        <ul>
            <li>
                <div class="sender">
                    <span></span>
                </div>
                <div class="message">
                    <span></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- 코드 출처: https://dororongju.tistory.com/151 -->
